#intro, #lang_dropdown, #dict_nav{
  display: none;
}

#dict_nav.affix{
  top: 0px;
}

#dict_nav{
  width: 100%;
}

#dict_nav.affix + .container-fluid{
  padding-top: 70px;
}

:target{
  padding-top: 30px;
}

#tts_list{
  z-index: 1001;
}

#nav_donate{
  color: greenyellow;
}

.typeahead {
  z-index: 1051;
}